<li>
    {{name}}

    <button class="change-state" data-id="{{id}}" data-name="{{name}}" data-newState="{{ate}}">
        {{#if ate}}EAT IT!{{else}}Reorder!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}" data-name="{{name}}">
        {{#if ate}}Return it!{{else}}Digest it!{{/if}}
    </button>
</li>